.container{
    width: 100%;
    height: 100%;
    
}

.menu ul{
    display: inline-flex;
    margin: 50p;
}

.menu ul li{
    list-style: none;
    margin: 0 20p;
    color: #415065;
    cursor: pointer;
}
